@media (max-width: 1200px) {
	/*FOOTER ---------------------- */
	.footer_bg {

		&:after {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	/*HEADER ---------------------- */
	.menu {
	
		li {
	
			&:nth-child(n+2) {
				margin-left: 15px;
			}
		}
	}

	.personal-wrap {
		margin-left: 20px;
	}

	/*TITLE ---------------------- */
	.title {

		&_info {
			color: $colorTitle;
		}
	}

	/*INFO ---------------------- */
	.info-wrap {
		display: block;
	}

	.info-list {
		width: 100%;
		justify-content: flex-start;

		&_flex {
			margin-left: 0;
			margin-top: 45px;
		}
	}

	.info-item {
		
		&:nth-child(n+2) {
			margin-top: 45px;
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {
		max-width: 805px;

		&__wrap {

			.table {

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 8px;
						}
					}
				}

				tbody {

					td {
	
						&:nth-child(n+2) {
							padding-left: 8px;
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	/*TABLE ---------------------- */
	.table {
		border-spacing: 30px 25px;
		left: -30px;
	}

	/*FOOTER ---------------------- */
	.footer-info {
		flex-direction: column;

		&__link {
			margin-left: 0;
			order: -1;
			margin-bottom: 40px;
		}
	}

	/*SCROLL ---------------------- */
	body .scroll-element.scroll-y {
		opacity: 0;
	}
}

@media (max-width: 768px) {
	/*MAIN-HEADER ---------------------- */
	.main-header {
		
		&_mob {
			background-size: auto;
			background-position-y: top;

			.main-header-content {
				padding: 35px 0 60px;
			}

			.title__main-header {
				display: none;
			}

			.date {
				display: none;
			}

			.logo_abs {
				display: none;
			}
		}
	}

	.main-header-logo {
	
		img {
			max-height: 75px;
		}
	}

	.main-header-content {
		padding: 25px 0;
	}

	.mob-menu {
		display: block;
	}

	/*TITLE ---------------------- */
	.title {
		font-size: 24px;
		line-height: 26px;

		&__main-header {
			max-width: 325px;
			margin: 115px 0 25px; 
		}
	}

	.date {
		width: 180px;

		&_main {
			width: 100%;
		}
	}

	/*HEADER ---------------------- */
	.header {
		background-color: #ffffff;
		position: absolute;
		top: -1500px;
		left: 0;
		right: 0;
		z-index: 8;
		@include transition(.4s);

		&_active {
			top: 0;
		}
	}

	%mob-menu {
		padding: 0 20px 0 40px;
		width: 100%;
	}
	
	.nav {
		flex-direction: column;
		margin: 0 -15px;
	}

	.menu {
		@extend %mob-menu;
		display: block;
		margin-top: 75px;

		li {

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}

	.personal-wrap {
		@extend %mob-menu;
		flex-grow: 0;
		margin-top: 50px;
		margin-left: 0;
	}

	.icon-lk {
		
		&:before {
			color: #f40000;
		}
	}

	.link {
		color: $mainColor;
		font-family: $gothamProBlack;
		font-size: 18px;
		text-transform: uppercase;
		padding: 0;

		&_active {
			color: #f40000;
		}

		&:hover {
			color: #f40000;
		}

		&:after {
			display: none;
		}

		&_personal {
			padding-left: 25px;
		}
	}

	.logo {
		padding: 0 20px 0 40px;
		align-self: flex-end;
		margin: 60px 0 30px;

		&_abs {
			display: block;
			padding: 0;
			margin: 0;
		}

		&__img {
			display: none;

			&_mob {
				display: block;
			}
		}
	}

	.discription-att {
		width: 100%;
		padding: 20px 20px 45px 40px;
		display: none;

		&_ios {
			display: block;

			.discription-att__link_apple {
				display: inline-block;
			}
		}

		&_android {
			display: block;

			.discription-att__link_android {
				display: inline-block;
			}
		}
	}

	/*INFO ---------------------- */
	.info-list_flex {
		margin-top: 0;
		display: block;

		.info-item {
			display: flex;
			flex-direction: column;

			&_margin {
				margin-left: 0;
			}
		}

		.info-text {
			margin: 0 0 10px;
		}
	}

	.info-img {
		order: -1;

		img {
			max-height: 260px;
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;

			.table {
				width: 805px;

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 8px;
						}
					}
				}

				tbody {

					td {
	
						&:nth-child(n+2) {
							padding-left: 8px;
						}
					}
				}
			}
		}
	}

	.search-wrap {
		display: block;

		&__inner {
			justify-content: center;

			&_input {
				margin: 5px auto 0;
			}
		}
	}

	.prize-info {

		&__inner {
		
			&_margin {
				margin-left: 50px;
			}
		}
	}

	/*PERSONAl ---------------------- */
	.personal-info {

		.link {

			&:hover {
				color: $mainColor;
			}
		}

		&__img {
			flex-shrink: 1;
		}
	}

	.personal-table {
		display: block;
	}

	.tabs {
		display: flex;
		border: {
			right: none;
			bottom: 1px solid #dadada;
		}
		justify-content: center;
		align-items: center;
		padding-right: 0;

		li {
			position: relative;
			top: 1px;
			border: 1px solid #dadada;
			background-color: $colorBtn;
			color: $colorText;
			flex-shrink: 1;
			text-align: center;

			&.active {
				border: {
					right: 1px solid #dadada;
					top: 1px solid #dadada;
					left: 1px solid #dadada;
					bottom: 1px solid #ffffff;
				}
				background-color: #ffffff;
				color: $mainColor;
			}

			&:nth-child(n+2) {
				margin-top: 0;
    			margin-left: 10px;
			}
		}
	}

	.table-wrap {
		margin: 20px 0 0;
	}

	/*TABLE ---------------------- */
	.table {
		width: 100%;
		left: 0;
	}
}

@media (max-width: 570px) {
	/*INFO ---------------------- */
	.info-list_flex {
		display: block;
	}

	.info-item {

		&_margin {
			margin-left: 0;
		}
	}

	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {
			overflow-x: visible;
			overflow-y: visible;

			.table {
				width: 100%;

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-left: 0;
							padding-right: 120px;
						}
					}
				}

				tbody {

					tr {
						margin: 0;
					}

					td {
						padding-top: 25px;
					}
				}
			}

			.td-phone,
			.td-city {
				display: none;
			}

			.td-winner {
				position: relative;

				&:after {
					content: attr(data-city);
					max-width: 180px;
					width: 100%;
					display: block;
					color: #b7b7b7;
					font-size: 14px;
					margin-top: 5px;
				}

				&__name {

					&:after {
						content: attr(data-phone);
						max-width: 180px;
						width: 100%;
						display: block;
						color: #b7b7b7;
						font-size: 14px;
						margin-top: 5px;
					}
				}
			}

			.td-status {
				display: block;
			}
		}
	}

	.search-wrap {

		.select2-container {
			margin-left: 0;
    		margin-top: 15px;
		}

		&__inner {
			display: block;

			&_input {
				margin: 10px 0 0;
			}
		}
	}

	.prize-info {
		display: block;
		margin-top: 10px;
	
		&__inner {
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
	
			&_margin {
				margin-left:0;
				margin-top: 35px;
			}
		}

		.info-img {
			margin: 10px 0 0;

			img {
				max-height: 140px;
			}
		}
	
		&__text {
			width: 100%;
			margin-bottom: 0;
		}
	}

	/*PERSONAl ---------------------- */
	.personal-info {
		display: block;

		&__inner {
			max-width: none;

			&_flex {
				margin-left: 0;
				margin-top: 10px;
				justify-content: center;
				padding: 10px;
			}
		}
	}

	.tabs {

		li {
			max-width: 125px;
			padding: 8px;
		}
	}

	.table-wrap {
		margin: 20px 50px 0;

		&_checks {

			.td-date {
				margin-left: 60px;
				display: block;
			}
		}

		&_gift {

			.th-mob-visible {
				margin-right: 65px;
			}

			.td-date {
				display: block;
				width: 40%;
			}
		}
	}
		

	/*TABLE ---------------------- */
	.table {
		width: 100%;
		border-collapse: collapse;
		top: 0;

		tr {
			display: flex;
			justify-content: space-between;
		}

		tbody {
			 
			tr {
				margin: 25px 0;
				position: relative;
			}
		}
	}

	.th-mob-visible {
		display: block;
	}

	.th-mob-hide {
		display: none;
	}

	.th-mob {
		display: block;
		padding-right: 15px;
	}

	.td-img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.td-date {
	
		&:after {
			content: attr(data-time);
			color: #b7b7b7;
			font-size: 14px;
			display: block;
			margin-top: 8px;
		}

		&_mob-hide {
			display: none !important;
		}
	}

	.td-sertif {
		display: none;
	}

	.td-send {
		margin-left: 20px;
		max-width: 180px;
		width: 100%;
		display: block;

		&:before {
			content: attr(data-sert);
			display: block;
			margin-bottom: 5px;
		}
	}
}

@media (max-width: 480px) {
	/*WINNERS ---------------------- */
	.winners-table {

		&__wrap {

			.table {

				thead {

					th {
	
						&:nth-child(n+3) {
							padding-right: 70px;
						}
					}
				}
			}

			.td-status {
				max-width: 120px;
				width: 100%;
			}
		}
	}
	/*PERSONAl ---------------------- */
	.table-wrap {
		margin: 20px 0 0;
	}

	/*FOOTER ---------------------- */
	.footer-info {

		&__link {

			a {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 370px) {
	/*PERSONAl ---------------------- */
	.table-wrap {

		&_gift {

			.th-mob-visible {
				margin-right: 25px;
			}
		}
	}

	/*TABLE ---------------------- */
	.td-send {
		max-width: 140px;
	}
}

@media (max-height: 1000px) {
	/*POPUP ---------------------- */
	.reg {
		display: block;

		.popup__wrap {
			margin: 60px auto;
		}
	}
}

@media (max-height: 750px) {
	/*POPUP ---------------------- */
	.popup {
		display: block;

		&__wrap {
			margin: 60px auto;
		}
	}
}