@import "var";
@import "mixins";
@import "fonts";
@import "reset";

/* Style -------------------------------------------------------------------- */
body {
	font-family: $gothamPro;
	font-size: 16px;
	color: $mainColor;
}

.hidden-x {
	overflow-x: hidden;
}

/*MAIN-HEADER ---------------------- */
.main-header {
	background: url("../img/funny-coca-cola.jpg") no-repeat center;
	background-color: #180407;
	background-size: cover;
}

.main-header-content {
	padding: 38px 0 25px;
	position: relative;
}

.main-header-logo {
	
	img {
		max-height: 145px;
	}
}

%mob-line {
	position: absolute;
	left: 0;
	right: 0;
	height: 4px;
	background-color: #ffffff;
	@include transition(.2s);
}

.mob-menu {
	display: none;
	position: absolute;
	top: 0;
	right: -15px;
	z-index: 9;
	width: 60px;
	height: 60px;
	background-color: #f40000;
	cursor: pointer;

	&__line {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);

		span {
			@extend %mob-line;
			top: 50%;
			transform: translateY(-50%);

			&:before,
			&:after {
				@extend %mob-line;
				content: "";
				top: 0;
				transform: translateY(8px);
			}

			&:after {
				transform: translateY(-8px);
			}
		}
	}

	&_active {

		.mob-menu__line {

			span {
				height: 0;

				&:before,
				&:after {
					transform: rotate(-45deg);
  					transform-origin: center;
				}

				&:after {
					transform: rotate(45deg);
				}
			}
		}
	}

	&__text {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		text-align: center;
		display: block;
		color: $colorText;
		font-family: $gothamProBlack;
		font-size: 9px;
		text-transform: uppercase;
		letter-spacing: 0.9px;
	}
}

/*HEADER ---------------------- */
.header {
	background-color: #f40000;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $colorText;
}

.menu {
	display: flex;

	li {

		&:nth-child(n+2) {
			margin-left: 35px;
		}
	}
}

.link {
	padding: 21px 0;
	display: inline-block;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 0%;
		height: 6px;
		background-color: #f7f7f7;
		@include transition(.2s);
	}

	&_active {

		&:after {
			width: 100%;
		}
	}

	&:hover {

		&:after {
			width: 100%;
		}
	}

	&_personal {
		padding-left: 20px;
		position: relative;
	}

	&_personal-active {
		padding: 0 0 0 23px;
		font-size: 18px;
		font-family: $gothamProBlack;

		&:after {
			display: none;
		}

		.icon-lk {

			&:before {
				color: $colorIcon;
			}
		}
	}
}

.icon-lk {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.personal-wrap {
	flex-grow: 1;
	margin-left: 80px;
}

.logo {
	padding: 11px 0;

	&__img {
		max-height: 40px;
		
		&_mob {
			display: none;
		}
	}

	&_abs {
		display: none;
		position: absolute;
		bottom: -20px;
		right: 0;
		width: 70px;
		height: 70px;
		background-color: #f40000;
		border-radius: 50%;
		overflow: hidden;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 16px;
		}
	}
}

.discription-att {
	display: none;
	background-color: #f40000;	

	&__link {
		display: none;
		margin-top: 20px;

		img {
			max-height: 80px;
		}
	}

	&__text {
		width: 100%;
		max-width: 290px;
	}
}

/*TITLE ---------------------- */
.title {
	color: $colorText;
	font-family: $gothamProBlack;
	font-size: 46px;
	line-height: 46px;
	text-transform: uppercase;

	&__main-header {
		width: 100%;
		max-width: 895px;
		margin: 95px 0 25px; 
	}

	&_info {
		color: $mainColor;
		font-size: 26px;
		line-height: 28px;
	}

	&_info-color {
		color: $colorTitle;
		width: 200px;
    	margin: 0 auto;
	}

	&_popup {
		color: $mainColor;
		font-size: 21px;
		line-height: 24px;
	}

	&_page {
		color: $mainColor;
		font-size: 21px;
		line-height: 24px;
	}
}

.date {
	color: #ffffff;
	font-family: $gothamPro;
	font-size: 14px;

	&_main {
		color: $mainColor;
		font-size: 16px;
		margin-bottom: 15px;
	}
}

/*MAIN ---------------------- */
.main {
	padding: 50px 0 60px;
}

/*INFO ---------------------- */
.info-wrap {
	display: flex;
	justify-content: space-between;
}

.info-list {
	width: 312px;

	&_flex {
		margin-left: 30px;
		display: flex;
		justify-content: flex-end;
		width: 735px;

		.info-item {
			text-align: center;
		}
	}
}

.sprite-list-drinks {
	margin-top: 20px;
	display: flex;

	li {
		background: url("../img/sprite-drinks.png") no-repeat;
		background-position: 0 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;

		&:nth-child(n+2) {
			margin-left: 10px;
		}

		& + li {
			background-position: -60px 0;

			& + li {
				background-position: -120px 0;

				& + li {
					background-position: -180px 0;
				}
			}
		}

		&:last-child {
			background: #ffffff;
			text-align: center;
			font-family: $gothamProBlack;
			font-size: 18px;
			text-transform: uppercase;
			line-height: 46px;
		}
	}
}

.info-item {

	&:nth-child(n+2) {
		margin-top: 40px;
	}

	&_w-100 {
		width: 100%;
	}

	&_margin {
		margin-left: 60px;
		margin-top: 0 !important;
	}
}

.info-text {
	margin: 10px 0;
	line-height: 19px;

	&_min {
		margin: 30px 0 0;
		font-size: 12px;
	}

	&_bold {
		color: #f40000;
		font-family: $gothamProBlack;
		line-height: 19px;
	}

	&_light {
		font-size: 10px;
		line-height: 10px;
	}
}

.info-img {
	margin: 65px 0 40px;
	
	img {
		max-height: 320px;
	} 
}

%arrow {
	content: "";
	position: absolute;
	top: 50%;
	right: 30px;
	width: 10px;
	height: 10px;
	transform: translateY(-50%) rotate(-45deg);
}

/*WINNERS ---------------------- */
.prize-info {
	display: flex;
	margin-top: 10px;

	&__inner {
		width: 245px;

		&_margin {
			margin-left: 120px;
		}
	}

	.info-img {
		margin: 35px 0 0;

		 img {
			 max-height: 170px;
		 }
	}

	&__text {
		margin-bottom: 20px;
	}
}

.winners-table {
	margin-top: 50px;
	max-width: 850px;
	width: 100%;

	&__wrap {
		margin-top: 30px;
		height: 280px;
		-webkit-overflow-scrolling: touch;

		&:hover {

			.scroll-element.scroll-x {
				opacity: 1;
			}
		}
		
		.table {
			width: 100%;
			position: static;
			border-collapse: collapse;

			thead {

				th {

					&:nth-child(n+3) {
						padding-left: 35px;
					}
				}
			}

			tbody {

				td {
					padding-top: 35px;
					word-break: break-all;

					&:nth-child(n+2) {
						padding-left: 35px;
						padding-right: 5px;
					}
				}
			}
		}
	}
}

.search-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.select2-container {
		width: auto !important;
		margin-left: 15px;
		z-index: 7;
		
		.select2-selection {
			border: none;
			height: auto;
			padding: 0 30px 0 0;

			&__rendered {
				color: $colorBtn;
				font-family: $gothamProBlack;
				font-size: 21px;
				line-height: 24px;
				text-transform: uppercase;
				overflow: visible;
			}

			&__arrow {
				right: 8px !important;
			}
		}
	}

	&__inner {
		display: flex;

		&_input {
			max-width: 300px;
			width: 100%;

			.search-wrap__input {
				width: 100%;
			}
		}
	}

	&__input {
		position: relative;

		input {
			width: 100%;
			height: 50px;
			border-radius: 25px;
			border: 1px solid #dadada;
			padding: 0 25px;
		}

		button {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			background-color: #ffffff;
			padding: 5px;

			&:hover {

				.icon-search:before {
					color: $colorHover;
				}
			}
		}

		.icon-search {
			font-size: 19px;
			
			&:before {
				@include transition(.2s);
			}
		}
	}
}

/*FEEDBACK ---------------------- */
.form__feedback {

	.form__input {
		max-width: 280px;
		width: 100%;

		&_textarea {
			max-width: 460px;
		}

		.select2-container {
			z-index: 1;
		}
	}
}

/*PERSONAl ---------------------- */
.personal-info {
	display: flex;
	margin-top: 20px;

	&__inner {
		background-color: #f7f7f7;
		padding: 15px 20px;
		max-width: 315px;
		width: 100%;

		&_flex {
			margin-left: 20px;
			display: flex;
			justify-content: space-between;
			padding: 25px 20px;
		}
	}

	&__text {
		margin-top: 10px;
		margin-left: 23px;
		font-size: 12px;

		p {
			line-height: 16px;
		}

		span {
			font-family: $gothamProBlack;
			line-height: 16px;
		}
	}

	&__log-out {
		margin-top: 10px;
		margin-left: 23px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
		flex-shrink: 0;

		 img {
			 max-height: 105px;
		 }
	}

	&__wrap-points {
		margin-left: 25px;
		font-size: 12px;
	}

	&__name {
		margin-bottom: 10px;
		font-size: 20px;
		font-family: $gothamProBlack;
		line-height: 20px;
		max-width: 105px;
		width: 100%;
	}

	&__points {
		margin-top: 5px;
		font-family: $gothamProBlack;
	}
}

.personal-table {
	display: flex;
	margin-top: 35px;
}

.tabs {
	padding-right: 20px;
	border: {
		right: 1px solid #dadada;
	}
	flex-shrink: 0;

	li {
		max-width: 140px;
		width: 100%;
		padding: 10px 15px;
		color: $mainColor;
		font-weight: 700;
		cursor: pointer;
		@include transition(.2s);

		&:nth-child(n+2) {
			margin-top: 5px;
		}

		&:hover {
			background-color: $colorBtn;
			color: $colorText;
		}

		&.active {
			background-color: $colorBtn;
			color: $colorText;
		}
	}
}

.table-wrap {
	margin: 10px 0 0 30px;
	overflow: hidden;
	display: none;

	&.active {
		display: block;
	}

	&_gift {

		td {
			vertical-align: middle;
		}
	}

	&__inner {
		overflow: hidden;
		height: 450px;
		-webkit-overflow-scrolling: touch;
	}
}

/*TABLE ---------------------- */
.table {
	border-collapse: separate;
	border-spacing: 70px 25px;
	position: relative;
    top: -25px;
    left: -70px;
	
	th {
		color: #b3b3b3;
		font-weight: 400;
		text-align: left;
	}

	td {
		vertical-align: top;
	}
}

.th-mob-visible {
	display: none;
}

.td-date {
	
	&__date {
		color: #b7b7b7;
		font-size: 14px;
		margin-top: 8px;
	}
}

.td-send {
	
	&__text {
		color: #b7b7b7;
	}

	&__link {
		color: $colorLink;
	}
}

.help {
	display: inline-block;
	text-align: center;
	border-radius: 50%;
    border: 1px solid;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	color: $colorIcon;
}

/*BTN ---------------------- */
.btn {
	max-width: 240px;
	width: 100%;
	display: inline-block;
	border-radius: 25px;
	background-color: $colorBtn;
	padding: 15px 30px;
	text-align: center;
	color: $colorText;
	@include transition(.2s);

	&:hover {
		background-color: $colorHover;
	}

	&_line {
		max-width: 280px;
		width: 100%;
		text-align: left;
		position: relative;

		&:after {
			@extend %arrow;
			border: {
				bottom: 2px solid #ffffff;
				right: 2px solid #ffffff;
			}
		}
	}

	&_prize {
		max-width: 140px;
		padding: 8px 10px;
		font-size: 14px;
	}

	&_info {
		margin-top: 10px;
	}

	&_margin {
		margin-top: 30px;
	}
}

/*FOOTER ---------------------- */
.footer {
	background-color: #f7f7f7;

	&_bg {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: -130px;
			right: -95px;
			background: url("../img/kastrulya.png") no-repeat center center;
			background-size: contain;
			width: 352px;
			height: 256px;
			transform: rotate(-12deg);
		}
	}
}

.footer-info {
	padding: 30px 0 35px;
	display: flex;


	&__text {
		font-size: 10px;
		max-width: 540px;
		width: 100%;
		color: #77787b;

		p {

			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}
	}

	&__link {
		margin-left: 40px;

		li {

			&:nth-child(n+2) {
				margin-top: 15px;
			}
		}

		a {
			position: relative;
			padding-left: 20px;
			font-family: $gothamProBlack;
		}
	}

	.icon-file {
		position: absolute;
		top: 50%;
		left: -3px;
		transform: translateY(-50%);
		color: #3d3d3d;
		font-size: 20px;
		font-weight: 400;
	}
}

/*SELECT ---------------------- */
body > .select2-container {
	width: auto !important;
}

.select2-container {
	width: 100% !important;
	outline: none;
	z-index: 10;

	& * {
		outline: none;
	}
	
	.select2-selection {
		width: 100%;
		height: 50px;
		border-radius: 25px;
		border: 1px solid #dadada;
		padding: 0 30px;
		display: flex;
		align-items: center;

		&__rendered {
			line-height: 16px !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		&__arrow {
			top: 50% !important;
			right: 20px !important;
			transform: translateY(-50%);

			&:after {
				@extend %arrow;
				border: {
					bottom: 2px solid $colorIcon;
					right: 2px solid $colorIcon;
				}
				right: 5px;
				transform: translateY(-50%) rotate(45deg);
			}

			b {
				display: none;
			}
		}
	}
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #f7f7f7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #f7f7f7;
	color: $mainColor
}

/*POPUP ---------------------- */
.noscroll {
    position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
}

.popup {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(#000000, .8);
	transition: opacity .3s 0s, visibility 0s .3s;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: flex;
	justify-content: center;
	align-items: center;

	&.js-popup-show {
        opacity: 1;
		visibility: visible;
        transition: opacity .3s 0s, visibility 0s 0s;

        .popup__wrap {
            transform: translateY(0);
		}

		.iframe-wrapper {
			display: block;
		}
	}

	&__wrap {
		transform: translateY(-10%);
		position: relative;
		max-width: 340px;
		width: 100%;
		background-color: #ffffff;
		transition-duration: .3s;
		padding: 30px 30px 40px;
	}

	&__close {
		position: absolute;
		top: -30px;
		right: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 2px;
			background-color: #ffffff;
			transform: translateY(-50%) rotate(45deg);
		}

		&:after {
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__text {
		margin-top: 20px;

		&_bold {
			font-family: $gothamProBlack;
		}
	}
}

.form {

	&__popup {
		margin-top: 30px;
	}

	&__feedback {
		margin-top: 30px;
	}

	input {
		width: 100%;
		height: 50px;
		border-radius: 25px;
		border: 1px solid #dadada;
		padding: 0 30px;
	}

	::-webkit-input-placeholder {
		color: $mainColor;
	}
	::-moz-placeholder {
		color: $mainColor;
	}
	:-ms-input-placeholder {
		color: $mainColor;
	}
	:-moz-placeholder {
		color: $mainColor;
	}

	input[type="checkbox"] {
		display: none;
	}

	textarea {
		width: 100%;
		border-radius: 25px;
		border: 1px solid #dadada;
		padding: 20px 15px;
	}

	&__input {
		position: relative;

		&:nth-child(n+2) {
			margin-top: 20px;
		}

		&_margin {
			margin-bottom: 20px;
		}

		&_w-50 {
			width: 45%;
			display: inline-block;
			margin-bottom: 20px;

			input {
				padding: 0 10px 0 20px;
			}

			label.error {
				bottom: -13px;
				left: 10px;
			}
		}

		&_width {
			margin-left: 10px;
			width: 49%;
		}

		&_w-30 {
			width: 32%;
			display: inline-block;
			margin-top: 10px !important;

			.select2-selection {
				padding: 0 10px !important;

				&__arrow {
					right: 8px !important;
				}
			}

			label.error {
				bottom: -12px;
    			left: 4px;
			}
		}

		&_textarea {
			margin-bottom: 30px;

			label.error {
				bottom: 20px;
    			left: 15px;
			}
		}
	}

	&__text {
		margin: 20px 0 0 30px;

		&_margin {
			margin: 5px 0 30px 30px;
		}

		&_name {
			margin: 15px 0 0;
		}
	}
}

.text-link {
	font-size: 12px;
	color: $colorLink;
	line-height: 14px;

	&_fs {
		font-size: 14px;
		line-height: 16px;
	}

	&_footer {
		font-size: 10px;
	}

	&_log-out {
		font-size: 14px;

		&:hover {
			text-decoration: underline;
			color: $colorHover;
		}
	}
}

.checkbox {
	margin-left: 30px;

	&__text {
		display: block;
		padding-left: 30px;
		font-size: 12px;
		line-height: 12px;
		cursor: pointer;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			border: 1px solid #dadada;
		}
	
		&:nth-child(n+2) {
			margin-top: 20px;
		}
	}

	input[type="checkbox"]:checked {
		
		& ~ .checkbox__text:after {
			content: "";
			width: 6px;
			height: 15px;
			border: {
				bottom: 1px solid $colorIcon;
				right: 1px solid $colorIcon;
			}
			transform: rotate(34deg);
			position: absolute;
			top: 0;
			left: 6px;
		}
	}
}

.captcha {
	background-color: #f7f7f7;
	margin: 30px -30px;
	padding: 15px 30px;

	&_feedback {
		background-color: #ffffff;
		margin: 30px 0;
		padding: 0;
	}

	&__text {
		font-size: 12px;
	}

	&__wrap {
		margin-top: 15px;
		display: flex;
		align-items: center;
	}

	&__img {
		flex-shrink: 0;

		img {
			max-height: 50px;
		}
	}

	&__send {
		max-width: 150px;
		width: 100%;
		padding-left: 20px;
		margin-left: 20px;
		position: relative;

		input {
			padding: 0 20px;
			text-align: center;
		}

		&:after {
			@extend %arrow;
			right: auto;
			left: -3px;
			border: {
				bottom: 2px solid $colorIcon;
				right: 2px solid $colorIcon;
			}
		}

		label.error {
			bottom: -12px;
		}
	}
}

/*IFRAME ---------------------- */
.iframe-wrapper {
	display: none;
	height: 60vh;
    min-height: 340px;
	max-width: 285px;
	width: 100%;
}

.iframe {
	height: 95%;
    width: 100%;
	margin-top: 20px;
}

/*VALIDATE ---------------------- */
label.error {
	font-size: 11px;
	bottom: 3px;
    left: 30px;
    position: absolute;
    color: #f40000;
    border: none !important;

	& ~ .checkbox__text:before {
		border: 1px solid #f40000;
	}
}

input[type="checkbox"] {

	&.success {

		& ~ .checkbox__text:before {
			border: 1px solid #dadada;
		}
	}
}

.error {
	border: 1px solid #f40000 !important;
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 1px;
    height: 8px;
    left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .3s ease;
}

body .scroll-element.scroll-x .scroll-element_track {
	top: 3px;
    width: 100%;
    height: 2px;
}

body .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    border-radius: 8px;
}

body .scroll-element .scroll-element_track {
	background:  #ebe7dd;
	left: 1px;
    width: 2px;
}

body .scroll-element .scroll-bar {
	width: 8px;
	background-color: #f40000;
	left: -2px;
	position: relative;
}

body .scroll-element:hover .scroll-bar {
    background-color: #f40000;
}

body .scroll-element.scroll-draggable .scroll-bar {
    background-color: #f40000;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

/* Media -------------------------------------------------------------------- */
@import "media";